.sign-up {
  width: 20%;
  margin-top: 10px;
  padding: 5px;
  background-color: #dad735;
  cursor: pointer;
  border: 1px solid #966909;
  color: #966909;
  box-shadow: 2px 2px 2px #966909;
}

.sign-up:hover {
  background-color: rgba(145, 241, 81, 0.5);
}

.less {
  background-color: #d39952;
  color: #fff;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: 1px solid #aa6817;
  cursor: pointer;
}

.more {
  background-color: #8f5e1e;
  color: #fff;
  border: 1px solid #8f5e1e;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: 1px solid #aa6817;
  cursor: pointer;
}

button:disabled {
  background-color: #ac9980;
  border: 1px solid #7e7365;
  color: #ccc;
}

button:disabled:hover {
  cursor: not-allowed;
  background-color: #ac9980;
}

.submit,
.signin {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 14px auto;
  padding:5px 0;
  font-weight:bold;
  font-size: 15px;
  display: block;
}

.submit{
  color: #5c9210;
}

.signin{
  color: #944317;
}
