.Lettuce{
    width: 50%;
    height: 7%;
    margin: 1% auto;
    background: linear-gradient(#228c1d, #91ce50);
    border-radius: 20px;
    padding: 1.5%;
  }
  .Meat {
    width: 50%;
    height: 8%;
    background: linear-gradient(#7f3608, #702e05);
    margin: 1% auto;
    border-radius: 15px;
    padding: 1.5%;
  }
  .Cheese {
    width: 50%;
    height: 4.5%;
    margin: 1% auto;
    background: linear-gradient(#f4d004, #d6bb22);
    border-radius: 20px;
    padding: 1.5%;
  }
  .Bacon {
    width: 50%;
    height: 3%;
    background: linear-gradient(#bf3813, #c45e38);
    margin: 1% auto;
    padding: 1.5%;
  }
  .burger-container{
    height: 15%;
    width: 98;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    text-align: center;
    padding-top: 9%;
    padding-bottom: 9%;
   
  }
  .burger-ingredient{
    background-color: white;
    margin-left: auto;
    overflow-y: scroll; 
    height: 100%;
    width: 98%;
  } 
  .burger-top{
    height:8%;
    background-color:#e9772a;
    box-shadow: inset -15px 0 #c15711;
    border-radius: 50% 50% 0 0;
    width:50%;
    padding-top: 12%;
    margin: 0 auto;
  }
  .burger-bottom{
    height:8%;
    background-color:#e9772a;
    box-shadow: inset -15px 0 #c15711;
    border-radius:  0 0 30px 30px;
    width:50%;
    margin-top: 0px;
    padding: 0 0 7% 0;
    margin:0 auto;
  }
 
