.myContainer{
    display:flex;
    border:2px blue solid;
}
.mainContainer{
    border:2px black solid;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap:5px 5px;
}
h3{
    display: inline;
    min-width:300px;
}
button{
    border:3px red solid;
}